ACESSOR_FIREBASE_API_KEY=your-api-key
ACESSOR_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
ACESSOR_FIREBASE_PROJECT_ID=your-project-id
ACESSOR_FIREBASE_STORAGE_BUCKET=your-project.appspot.com
ACESSOR_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
ACESSOR_FIREBASE_APP_ID=your-app-id
ACESSOR_FIREBASE_MEASUREMENT_ID=your-measurement-id
